/* 

        TableCloth	
        by Alen Grakalic, brought to you by cssglobe.com
        
*/

/* general styles */

table, td{
    font:100% Arial, Helvetica, sans-serif; 
}
table{width:100%;border-collapse:collapse;margin:1em 0;
      border: solid 1px #FFF;


}
table thead th
{ color: #FFF;
  background-color: #669DC7;
  background-image: -moz-linear-gradient(top, #7CACCF, #48B);
  background-image: -ms-linear-gradient(top, #7CACCF, #48B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7CACCF), to(#48B));
  background-image: -webkit-linear-gradient(top, #7CACCF, #48B);
  background-image: -o-linear-gradient(top, #7CACCF, #48B);
  background-image: linear-gradient(top, #7CACCF, #48B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7caccf', endColorstr='#4488bb', GradientType=0);
  border-color: #48B #48B #305F83;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

}
th, td{text-align:left;padding:.5em;border:1px solid #fff;}
th{background:none; color:#fff;}
td{background:#e5;}

/* tablecloth styles */

tr.even td{background:#e5f1f4;}
tr.odd td{background:#f8fbfc;}

th.over, tr.even th.over, tr.odd th.over{background:none;}
th.down, tr.even th.down, tr.odd th.down{background:#bce774;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#bce774;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}